<a class="list-group-item pivotal-story <%= pivotal_story['current_state'] == 'accepted' ? 'accepted' : 'started' %>">
  <span class='pull-right'><i class='fa fa-clock-o'></i> <%= pivotal_story['estimate'] %></span>
  <p><%= pivotal_story['name'] %></p>
</a>
