<div class='row'>
  
  <div id='stories-container' class='col-sm-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <strong>My Work:</strong>
      </div>
      <div class="list-group">
        <%= render partial: 'pivotal_story', collection: @my_work %>
      </div>
    </div>
   
    <% @pivotal_iterations.each do |pivotal_iteration| %>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <strong>Iteration:</strong> <%= pivotal_iteration['number'] %>
        </div>
        
        <div class="list-group">
          <%= render partial: 'pivotal_story', collection: pivotal_iteration['stories'] %>
        </div>
      </div>
      <br /><br />
    <% end %>
  </div>
  
  <div class='col-sm-6'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        Magic Clock
      </div>
      <div id='clock-container' class='panel-body'>
      </div>
    </div>
  </div>
   
</div>
