<%- content_for :javascript do -%>

  $(document).ready(function(){
    React.renderComponent(StoryTime.React.Timing(), document.getElementById('timing-container'));
  });

<%- end -%>

<div id='timing-container' class='row'>
  
</div>
