<div id='react-target-timing'></div>

<%- content_for :javascript do -%>
  $(document).ready(function(){
    ReactDOM.render(React.createElement(Timing), document.getElementById('react-target-timing'));
  });
<%- end -%>
