<div id='timing-container' class='row'></div>

<%- content_for :javascript do -%>
  $(document).ready(function(){
    React.render(React.createElement(Timing, <%= core_props_for_react %>), document.getElementById('timing-container'));
  });
<%- end -%>
