<div id='react-target-login'></div>

<%- content_for :javascript do -%>
  $(document).ready(function(){
    ReactDOM.render(React.createElement(StoryTime), document.getElementById('react-target-login'));
  });
<%- end -%>
