/* Colory-doos. */
$background-dark: #293742;
$background-light: #f5f8fa;
$lightest: #E8D988;
$light: #EAB536;
$medium: #D98809;
$dark: #D46704;
$darkest: #D95600;

html, body {
  height: 100%;
}

body.body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial;
  overflow: hidden;
}

/* Container Styling */

.react-container {
  height: 100%;
}

#app-container {
  height: 100%;
  background-color: $background-light;
  &.pt-dark {
    background-color: $background-dark;
  }
}

#navigation-container {
  margin: 0 10%;
}

#timing-container {
  display: flex;
  justify-content: center;
  padding: 0 9%;
}

#stories-container {
  flex-grow: 1;
  height: 85vh;
  width: 50%;
  overflow: auto;
  padding: 10px 2%;
}

#clock-container {
  flex-grow: 1;
  height: 85vh;
  width: 50%;
  overflow: auto;
  padding: 10px 2%;
}

#login-container {
  display: flex;
  justify-content: center;
  div.pt-card {
    margin-top: 10%;
    width: 50%;
    div.pt-input-group {
      margin-bottom: 10px;
    }
  }
}

/* Misc */

#alpha-label {
  position: relative;
  left: 0px;
  top: -10px;
  font-size: 85%;
}

div.spacer-sm {
  height: 20px;
  padding: 0px;
  margin: 0px;
  &.loading-indicator {
    height: 12px;
  }
}
