html, body {
  height: 100%;
}

body.body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial;
  overflow: hidden;
  background-color: #f5f8fa;
}

body.pt-dark {
  background-color: #293742;
}

/* Colory-doos. */
$lightest: #E8D988;
$light: #EAB536;
$medium: #D98809;
$dark: #D46704;
$darkest: #D95600;

/* Navigation Styling */

#alpha-label {
  position: relative;
  left: 0px;
  top: -10px;
  font-size: 45%;
}

/* Container Styling */

#navigation-container {
  margin: 0 10%;
}

#timing-container {
  display: flex;
  justify-content: center;
  padding: 0 9%;
}

#stories-container {
  flex-grow: 1;
  width: 50%;
  overflow: auto;
  padding: 10px 2%;
  margin-bottom: 50px;
}

#clock-container {
  flex-grow: 1;
  width: 50%;
  overflow: auto;
  padding: 10px 2%;
}
