<div id='reports-container'></div>

<%- content_for :javascript do -%>
  $(document).ready(function(){
    React.renderComponent(Reports(<%= core_props_for_react %>), document.getElementById('reports-container'));
  });
<%- end -%>
