<div id='reports-container'></div>

<%- content_for :javascript do -%>
  $(document).ready(function(){
    ReactDOM.render(React.createElement(Reports), document.getElementById('reports-container'));
  });
<%- end -%>
